.form{
    border-radius:10px;
    background-color:white;
    width:fit-content;
    height:fit-content;
    margin:auto;
}

form{
    padding:0px 50px;
}

.formLabel{
    margin-top:25px;
    margin-bottom:25px;
}

input{
    border:none;
    outline:none;
    text-decoration: none;
    background-color:none;
    background:transparent;
    color:black;
    border-bottom:1px solid black;
    margin-bottom:25px;
}

input[type="submit"]{
    background-color:black;
    color:white;
    padding:10px;
    border-radius:10px;
}

.username,.password{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}